<div class="base-c m-3 mx-5 flex-shrink-0">
  <div class="pane-a h-20"></div>
  <div class="m-1 text-left text-sm">〇〇パーキング</div>
  <div class="text-right text-xs">
    <div>大型不可</div>
    <div>1時間300円</div>
  </div>
</div>