<div class="pane-a flex flex-col my-2 text-left text-xs"
     id=<%= "spot-#{spot.id}" %>>
  <div class="flex">
    <div class="w-3/4 text-base ">
      <%= link_to spot.name, spot_path(spot, from: from),
          data: { turbo: false } %>
    </div>
    <div class="w-1/4 flex flex-row-reverse ">
        <%= link_to '編集', edit_spot_path(spot),
            class: 'btn-s',
            data: { turbo_frame: 'modal'} %>
    </div>
  </div>
  <div>
    <%= spot.spot_detail.address %>
  </div>
</div>