<div class="pane-a flex flex-col my-2 text-left text-xs">
  <div class="flex">
    <div class="w-1/2 text-base ">
      <%= link_to spot.name, spot_path(spot, from: 'spot_search'),
          data: { turbo: false } %>
    </div>
    <div class="w-1/2 text-right">
      <div>
        <%= spot.spot_detail.opening_hours %>
      </div>
      <div>
        <%= t_enum('spot', 'parking', spot.parking) %>
      </div>
    </div>
  </div>
  <div>
    <%= spot.spot_detail.address %>
  </div>
</div>