<div class="base-container">

  <%= turbo_frame_tag 'modal' %>

  <div class="base-l mt-3">
    <div class="pane-a">
      <%= link_to '検索ワード', search_spot_searches_path,
          data: { turbo_frame: 'modal' }%>
    </div>
  </div>

  <div class="base-l mt-3 h-full">
    <% @spots.each do |spot| %>
      <%= render partial: 'searches/spot_info', locals: { spot: spot } %>
    <% end %>
  </div>

</div>