<div class="base-container">
  <h1 class="h1">利用方法</h1>

  <div class="swiper-main mt-16">
    <div class="swiper-wrapper z-10">
      <div class="swiper-slide relation bg-secondary rounded-3xl">
        <div class="w-full h-full rounded-3xl border-8 overflow-hidden">
          <%= image_tag 'top_image1.jpg' %>
        </div>
      </div>
      <div class="swiper-slide relation bg-secondary rounded-3xl">
        <div class="w-full h-full rounded-3xl border-8 overflow-hidden">
          <%= image_tag 'top_image2.jpg' %>
        </div>
      </div>
      <div class="swiper-slide relation bg-secondary rounded-3xl">
        <div class="w-full h-full rounded-3xl border-8 overflow-hidden">
          写真準備中
        </div>
      </div>
    </div>
  </div>
</div>