<div class="base-container">
  <h1 class="pt-12 p-3 text-2xl">プロフィール編集</h1>
  
  <div class="base-l ">
    <%= render partial: 'profiles/profile_form', locals: { profile: @profile } %>
  </div>
</div>