@keyframes slide-up {
  0% {
    transform: translateX(-50%) translateY(200%);
  }
  100% {
    transform: translateX(-50%) translateY(0);
  }
}

@keyframes slide-down {
  0% {
    transform: translateX(-50%) translateY(0);
  }
  100% {
    transform: translateX(-50%) translateY(200%);
  }
}

@keyframes slide-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-200%);
  }
}

@keyframes slide-right {
  0% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0%);
  }
}

.slide-up-animation {
  animation-name: slide-up;
  animation-duration: 300ms;
  animation-timing-function: cubic-bezier(0.685, 0.085, 0.355, 1.420);
  animation-fill-mode: forwards;
}

.slide-down-animation {
  animation-name: slide-down;
  animation-duration: 200ms;
  animation-timing-function: cubic-bezier(0.685, 0.085, 0.355, 1.420);
  animation-fill-mode: forwards;
}

.slide-left-animation {
  animation-name: slide-left;
  animation-duration: 300ms;
  animation-timing-function: cubic-bezier(0.685, 0.085, 0.355, 1.420);
  animation-fill-mode: forwards;
}

.slide-right-animation {
  animation-name: slide-right;
  animation-duration: 200ms;
  animation-timing-function: cubic-bezier(0.685, 0.085, 0.355, 1.420);
  animation-fill-mode: forwards;
}