@keyframes start-modal {
  0% {
    transform: scale(0.0, 0.0);
  }
  100% {
    transform: scale(1.0, 1.0);
  }
}

@keyframes start-bg {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}


@keyframes end-modal {
  0% {
    transform: scale(1.0, 1.0);
  }
  100% {
    transform: scale(0.0, 0.0);
  }
}

@keyframes end-bg {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

@keyframes expand-modal {
  0% {
    height: 448px;
  }
  100% {
    height: 650px;
  }
}

@keyframes contract-modal {
  0% {
    height: 650px;
  }
  100% {
    height: 448px;
  }
}

.start-modal-animation {
  animation-name: start-modal;
  animation-duration: 300ms;
  animation-timing-function: cubic-bezier(0.685, 0.085, 0.355, 1.420);
}

.start-bg-animation {
  animation-name: start-bg;
  animation-duration: 300ms;
}

.end-modal-animation {
  animation-name: end-modal;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.685, 0.085, 0.355, 1.420);
}

.end-bg-animation {
  animation-name: end-bg;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
}

.expand-modal-animation {
  animation-name: expand-modal;
  animation-duration: 200ms;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.685, 0.085, 0.355, 1.420);
}

.contract-modal-animation {
  animation-name: contract-modal;
  animation-duration: 200ms;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.685, 0.085, 0.355, 1.420);
}