@keyframes start-menu-left {
  0% {
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
  }
  100% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@keyframes end-menu-left {
  0% {
    clip-path: circle(100% at left top)
  }
  100% {
    clip-path: circle(0% at left top);
  }
}

@keyframes start-menu-right {
  0% {
    clip-path: polygon(100% 0, 100% 0, 100% 0, 100% 0);
  }
  100% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@keyframes end-menu-right {
  0% {
    clip-path: circle(100% at right top)
  }
  100% {
    clip-path: circle(0% at right top);
  }
}

@keyframes start-bg {
  0% {
    opacity: 0%;
  }
  70% {
    opacity: 100%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes end-bg {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

.start-menu-left-animation {
  animation-name: start-menu-left;
  animation-duration: 300ms;
  animation-timing-function: cubic-bezier(0.685, 0.085, 0.355, 1.420);
}

.end-menu-left-animation {
  animation-name: end-menu-left;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.685, 0.085, 0.355, 1.420);
}

.start-menu-right-animation {
  animation-name: start-menu-right;
  animation-duration: 300ms;
  animation-timing-function: cubic-bezier(0.685, 0.085, 0.355, 1.420);
}

.end-menu-right-animation {
  animation-name: end-menu-right;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.685, 0.085, 0.355, 1.420);
}

.start-bg-animation {
  animation-name: start-bg;
  animation-duration: 300ms;
  animation-timing-function: ease-in;
}

.end-bg-animation {
  animation-name: end-bg;
  animation-duration: 300ms;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
