@keyframes slidein-from-right {
  0% {
    transform: translateX(300px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slidein-from-left {
  0% {
    transform: translateX(-300px);
  }
  100% {
    transform: translateX(0);
  }
}

.slidein-from-left-animation {
  animation-name: slidein-from-left;
  animation-duration: 150ms;
}

.slidein-from-right-animation {
  animation-name: slidein-from-right;
  animation-duration: 150ms;
}