<div class="my-3">
  <div class="flex items-end">
    <div class="w-12 h-12 ml-1 mr-3 z-30 rounded-full overflow-hidden bg-primary">
      <%= link_to user_path(comment.user, from: 'spot_detail', spot: spot),
                  class: 'daisy-btn daisy-btn-circle daisy-btn-ghost border-none',
                  data: { turbo_frame: '_top' } do %>
        <%= image_tag (comment.user.profile&.avatar&.attached? ? comment.user.profile.avatar : 'preview.png'),
                      class: 'w-12 h-12' %>
      <% end %>
    </div>
    <div class="chatbubble received my-auto">
      <%= comment.content %>
    </div>
  </div>
  <%= link_to comment.user.profile.user_name, user_path(comment.user, from: 'spot_detail', spot: spot),
              class: 'link ml-1' %>
</div>