<div class="flex my-3 items-end">
  <div class="w-12 h-12 ml-1 mr-3 z-30 rounded-full overflow-hidden bg-primary">
    <%= image_tag (comment.user.profile&.avatar&.attached? ? comment.user.profile.avatar : 'preview.png') %>
  </div>
  <div class="chatbubble received my-auto">
    <%= comment.content %>
  </div>
</div>