<%= turbo_frame_tag 'modal' do %>

  <%= stylesheet_link_tag 'animations/modal', data: { turbolinks_track: 'reload' } %>

  <div class='fixed inset-0 flex items-center justify-center z-50 bg-black bg-opacity-20'
        data-controller="modal"
        data-modal-target="background"
        data-action="click->modal#closeModal">
    <div class="modal-h-fit text-sm bg-primary no-scroll-bar"
         data-modal-target="modal">
        <p class="text-base font-semibold text-primary-content">コメント一覧</p>
      <div class="pane-a mt-3">
        <% @comments.each do |comment| %>
          <%= render partial: 'comments/comment', locals: { comment: comment }%>
        <% end %>
      </div>
    </div>
  </div>

<% end %>