<div class="daisy-navbar bg-primary">
  <div class="daisy-navbar-start">
    <div class="daisy-dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost btn-circle">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" /></svg>
      </div>
      <ul tabindex="0" class="daisy-menu daisy-menu-sm daisy-dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
        <% if as_admin? %>
          <li><%= link_to '管理者ログアウト', admin_sign_out_path, data: { turbo_method: 'delete',  } %></li>
        <% else %>
          <li><%= link_to 'ログアウト', destroy_user_session_path, data: { turbo_method: 'delete' } %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="daisy-navbar-center">
    <% if user_signed_in? %>
      <%= link_to home_path, class: 'w-fit h-fit' do %>
        <%= svg_tag 'logo.svg', css_class: 'daisy-btn daisy-btn-square daisy-btn-ghost w-20 h-12' %>
      <% end %>
    <% end %>
  </div>
  <div class="daisy-navbar-end">
    
  </div>
</div>