<h1>スポット登録時エラー</h1>

<% @error_objects.each do |object| %>
  <div>エラー発生源：<%= object.class.name %></div>
  <div>
    エラー内容：
    <% object.errors.each do |attribute, message| %>
      <div><%= attribute %>: <%= message %></div>
    <% end %>
  </div>
<% end %>