@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-base;
}

.base-container {
  @apply container mx-auto text-center
}

.base-m {
  @apply w-64 mx-auto p-3 rounded-2xl bg-primary
}

.base-l {
  @apply w-80 mx-auto p-3 rounded-3xl bg-primary
}

.base-c {
  @apply w-32 mx-auto p-2 rounded-2xl bg-primary
}

.pane-a {
  @apply w-full mx-auto p-2 rounded-2xl bg-base-100
}

.btn-s {
  @apply daisy-btn daisy-btn-secondary h-fit w-fit min-h-0 py-1.5 px-2 block rounded-xl text-xs
}

.btn-submit {
  @apply daisy-btn daisy-btn-secondary w-fit h-10 mt-5 p-3 mx-auto block rounded-full text-sm
}

.tab {
  @apply cursor-pointer py-2 px-4 text-gray-600 hover:text-gray-800 border-b-2 border-transparent hover:border-gray-300
}

.tabs-field input:checked + .tab_item {
  background-color: #5ab4bd;
  color: #fff;
}

.tab-content {
  display: none;
}

/*選択されているタブのコンテンツのみを表示*/
#tab1:checked ~ #bookmarked_contents,
#tab2:checked ~ #registered_contents {
  display: block;
}

/*選択されているタブのスタイルを変える*/
#tab1:checked + label,
#tab2:checked + label {
  background-color: #5ab4bd;
  color: #fff;
}