@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 14px;
  color: #444444
}

.h1 {
  @apply mt-8 m-3 text-2xl font-semibold
}

.base-container {
  @apply container mx-auto text-center
}

.base-m {
  @apply w-64 h-fit mx-auto p-3 rounded-3xl bg-primary
}

.text-field-m {
  @apply w-52 h-10 p-2 drop-shadow-md rounded-full border border-gray-200
}

.base-l {
  @apply w-80 h-fit mx-auto p-3 rounded-3xl bg-primary
}

.text-field-l {
  @apply w-64 h-10 p-2 drop-shadow-md rounded-full border border-gray-200
}

.base-c {
  @apply w-32 h-fit mx-auto p-2 rounded-2xl bg-primary
}

.pane-a {
  @apply w-72 h-fit mx-auto p-3 rounded-2xl bg-base-100
}

.pane-20 {
  @apply w-72 h-20 mx-auto p-2 rounded-2xl bg-base-100
}

.btn-s {
  @apply daisy-btn daisy-btn-secondary h-fit w-fit min-h-0 py-1.5 px-2 block rounded-xl text-xs
}

.btn-secondary {
  @apply daisy-btn daisy-btn-secondary min-w-20 w-fit h-10 mt-3 p-3 mx-auto
         block drop-shadow-lg rounded-full border border-2 border-gray-200 text-sm
}

.btn-danger {
  @apply daisy-btn daisy-btn-accent w-fit h-10 mt-5 p-3 mx-auto block rounded-full text-sm
}


.daisy-collapse-title {
  padding: 16px;
}



/* --- マイスポットタブ関係 --- */
.tab {
  @apply cursor-pointer py-2 px-4 border border-primary border-transparent
  hover:border-base-100  transition duration-300 ease-in-out
}

.tab-content {
  display: none;
}

/*選択されているタブのコンテンツのみを表示*/
#tab1:checked ~ #bookmarked_contents,
#tab2:checked ~ #registered_contents {
  display: block;
}

/* 選択されていないタブのスタイル
#tab1:not(checked) + label,
#tab2:not(checked) + label {
  color: #f5f2e9;
  font-weight: 400;
} */


/*選択されているタブのスタイルを変える*/
#tab1:checked + label,
#tab2:checked + label {
  background-color: #f5f2e9;
  color: #444444;
  font-weight: 600;
}
/* ------------------------- */

/* --- ページネーション関係 --- */
.pagination {
  @apply flex justify-between w-52 h-10 mt-3 mx-auto rounded-full bg-base-100
}

.page {
  @apply w-6 h-6 overflow-hidden box-content rounded-full mx-1 drop-shadow-md content-center
         bg-secondary border border-2 border-gray-200 text-xs
         hover:bg-primary hover:text-primary-content transition duration-300 ease-in-out
}

.page-current {
  @apply w-8 h-8 rounded-full mx-1 drop-shadow-md content-center
         bg-primary text-primary-content font-semibold
}

.first-page {
  @apply w-6 h-6 rounded-full block box-content drop-shadow-md
         bg-secondary border border-2 border-gray-200
         hover:bg-primary hover:text-primary-content transition duration-300 ease-in-out
}

.last-page {
  @apply w-6 h-6 rounded-full block box-content drop-shadow-md
         bg-secondary border border-2 border-gray-200
         hover:bg-primary hover:text-primary-content transition duration-300 ease-in-out
}
/* ------------------------- */