<p><%= @user.id %>様</p>
<p>MotoTokyoをご利用いただきありがとうございます。</p>

<p>メールアドレスの変更を受け付けました。</p>
<% if @resource.try(:unconfirmed_email?) %>
  <p>新しいメールアドレスは <%= @resource.unconfirmed_email %> です。</p>
<% else %>
  <p>新しいメールアドレスは <%= @resource.email %> です。</p>
<% end %>