<p><%= @user.id %>様</p>
<p>MotoTokyoをご利用いただきありがとうございます。</p>

<p>パスワードリセットのリクエストを受け付けました。以下のリンクから変更手続きを行ってください。</p>

<p><%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>リンクから新しいパスワードを作成するまで、パスワードは変更されません。</p>
<p>もしこのリクエストに心当たりがない場合は、お手数おかけしますが、下記のMotoTokyo運営Xからご連絡をお願いいたします。</p>