<div class="base-container">

  <h1 class="h1">スポット登録完了！</h1>
  
  <p class="m-3">
    あなたの登録した<%= @spot.name %>は<br>
    累計<%= @count %>番目のスポットです！
  </p>
  <p>
    サービスの発展にご協力いただきありがとうございました
  </p>

  <div class="base-m mt-10 mx-auto text-primary-content">
    <p class ="m-3 text-base">登録したスポットを...</p>
    <%= link_to '確認する', spot_path(@spot, from: 'spot_registration'),
        class: 'btn-secondary' %>
  </div>
</div>
