<div class="container mx-auto text-center">
  <h1 class="pt-12 p-3 text-2xl">スポット登録完了！</h1>
  <p class="p-3 text-sm">
    あなたの登録した<%= @spot.name %>は<br>
    累計<%= @count %>番目のスポットです！
  </p>
  <p class="text-sm">
    サービス発展にご協力いただきありがとうございました
  </p>

  <div class="base-s mt-16 h-32 mx-auto bg-primary text-primary-content">
    <p class ="p-1 text-sm">登録したスポットを...</p>
    <%= link_to '確認する！', spot_path(@spot),
        class: 'daisy-btn daisy-btn-secondary w-32 h-10 mt-5 p-3 mx-auto block rounded-full text-sm' %>
  </div>
</div>
